/3rd Year 1st Semester (3-1)/SWE 322 (Software Architecture and Design Patterns Lab)/Task1_Solid_Principle/nbproject/private/
/3rd Year 1st Semester (3-1)/SWE 322 (Software Architecture and Design Patterns Lab)/Task1_OrderSystem_UML_Diagram/build/
/3rd Year 1st Semester (3-1)/SWE 322 (Software Architecture and Design Patterns Lab)/Task2_Solid_Principle/nbproject/private/
/3rd Year 1st Semester (3-1)/SWE 322 (Software Architecture and Design Patterns Lab)/Task3_Design_Pattern_Creational_Patternt/nbproject/private/
/3rd Year 1st Semester (3-1)/SWE 322 (Software Architecture and Design Patterns Lab)/Task3_Design_Pattern_Creational_Patternt/build/
